<%= form_for @article do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this student from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p id="firstname"><center>
    <%= form.label :firstname %><br>
    <%= form.text_field :firstname %>
</center></p>

  <p id="lastname"><center>
    <%= form.label :lastname %><br>
    <%= form.text_field :lastname %>
</center></p>
  <p id="fn"><center>
    <%= form.label :fn %><br>
    <%= form.text_field :fn %>
</center></p>
  <p id="course"><center>
    <%= form.label :course %><br>
    <%= form.text_field :course %>
</center></p>
  <p id="specialty"><center>
    <%= form.label :specialty %><br>
    <%= form.text_field :specialty %>
</center></p>

  <p><center>
    <%= form.submit 'Create Student', :class =>'submit_class' %>
</center></p>

<% end %>

<%#= render template: "layouts/application" %>