<p><center>
    <strong>First Name:</strong>
    <%= @article.firstname %>
</center></p>

<p><center>
    <strong>Last Name:</strong>
    <%= @article.lastname %>
</center></p>

<p><center>
  <strong>Faculty Number:</strong>
  <%= @article.fn %>
</center></p>

<p><center>
  <strong>Course:</strong>
  <%= @article.course %>
</center></p>

<p><center>
  <strong>Specialty:</strong>
  <%= @article.specialty %>
</center></p>

<h2><center>Comments</center></h2>
<%= render @article.comments %>

<h2><center>Add a comment:</center></h2>
<%= render 'comments/form' %>

<center><%= link_to 'Edit Student', edit_article_path(@article), id:"back_edit" %></center> <br>
<center> <%= link_to 'Back', articles_path, id:"back" %></center>